body{
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}

.container{
    
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 500px;
    border-radius: 10px;
}
.form{
         display: flex;
         flex-direction: column;
}

.input{
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.back_btn{
    width:20%;
    margin-bottom: 15px;
}
